*.iml
.gradle
/local.properties
/.idea/
!/.idea/.name
.DS_Store
/build
/build-logic/build
/build-logic/.kotlin/
.agents
.claude
AGENTS.md
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/.kotlin/
