<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhss.app.mybrain">

    <!-- For the Calendar events features -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <!-- For reminders -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!--to start the alarms after restart. (By default, all alarms are canceled when a device shuts down)-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.MyBrainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBrain">
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyBrain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".util.alarms.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.alarms.AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".util.alarms.TaskActionButtonBroadcastReceiver"
            android:enabled="true" />

    </application>

</manifest>