<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For the Calendar events features -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- For reminders -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- to start the alarms after restart. (By default, all alarms are canceled when a device shuts down) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:name=".app.MyBrainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBrain"
        tools:targetApi="33">
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyBrain"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.alarms.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.alarms.AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".util.alarms.TaskActionButtonBroadcastReceiver"
            android:enabled="true" />

        <activity
            android:name=".presentation.bookmarks.SaveBookmarkActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/save_bookmark">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".domain.use_case.tasks.AddTaskFromShareActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/add_to_tasks">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- The Add task tile in the quick settings -->
        <service
            android:name=".presentation.tasks.AddTaskTileService"
            android:exported="true"
            android:icon="@drawable/ic_check"
            android:label="@string/add_task_to_my_brain"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Calendar widget-->
        <receiver
            android:name=".presentation.glance_widgets.CalendarWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="true"
            android:label="@string/calendar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_widget_info" />
        </receiver>

        <!-- For updating the events in the  calendar widget when there are changes-->
        <receiver
            android:name=".presentation.glance_widgets.RefreshCalendarWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />
                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </receiver>

        <!-- Tasks widget-->
        <receiver
            android:name=".presentation.glance_widgets.TasksWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false"
            android:label="@string/tasks">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tasks_widget_info" />
        </receiver>

        <receiver
            android:name=".presentation.glance_widgets.CompleteTaskWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />


    </application>

</manifest>